/*header*/
header {
    top: 0%;
    background-color: #4360a3;
    min-width: 100%;
    position: fixed;
    left: 0%;
}

/*footer*/
footer {
    bottom: 0%;
    background-color: #8b8c8f;
    min-width: 100%;
    position: fixed;
    left: 0%;
    padding: 0.5%;
}

/*header-name*/
#truyum {
    color: #fafafa;
    margin-left: 1%;
    position: fixed;
    top: 1%;
    height: 5%;
    font-size: 25px;
    font-family: Calibri;
}

/* image logo*/
#image-img {
    margin-left: 6%;
}

/*title-menu*/
nav a {
    font-size: 15px;
    margin-left: 90%;
    top: 1%;
    position: fixed;
    color: #ffffff;
    font-family: Calibri;
}

/*Menu Item List Customer Notification-cart*/
#link {
    margin-left: 97%;
    font-family: Calibri;
}

/*Edit Menu Item-name*/
#name {
    width: 99%;
    font-family: Calibri;
}

/*All tables*/
.table {
    top: 25%;
    margin-left: 5%;
    position: fixed;
    font-family: Calibri;
}

/*menu-title*/
#menu-heading {
    top: 15%;
    position: fixed;
    margin-left: 5%;
    font-size: 30px;
    font-family: Calibri;
}

/*delete/add-o-cart-link*/
a {
    color: #000000;
    font-family: Calibri;
}

/*Edit Menu Item Status*/
#status {
    color: #2e9925;
    top: 20%;
    position: fixed;
    margin-left: 5%;
    font-family: Calibri;
    font-size: 18px;
}

/*Menu Item List Customer Notification*/
#notification {
    color: #2e9925;
    top: 20%;
    position: fixed;
    margin-left: 12%;
    font-family: Calibri;
}

/*Cart Empty*/
#empty {
    top: 20%;
    position: fixed;
    margin-left: 4%;
    color: #c0c2c0;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 5%;
    font-family: Calibri;
}

/*Cart Empty item menu list*/
#cart-empty {
    color: #0295c2;
    font-family: Calibri;
}

/*footer*/
#copy-right {
    margin-left: 0.5%;
    font-family: Calibri;
}

/*submit button*/
#submit {
    background-color: #234094;
    width: 200px;
    height: 40px;
    border: none;
    padding: 5px;
    color: #ffffff;
    font-family: Calibri;
}

/*form labels*/
.grey {
    color: #787878;
    font-family: Calibri;
}

/*checkbox*/
#delivery {
    width: 25px;
    height: 25px;
    color: #787878;
    font-family: Calibri;
}

/*checkbox value*/
#free-delivery {
    font-family: Calibri;
    size: 10px;
    color: #787878;
}

/*form-page-table*/
table {
    top: 20%;
    margin-left: 5%;
    position: fixed;
    font-family: Calibri;
}